/**
 * 98.css - светлая тема
 */

body.light-theme {
    /* Color */
    --text-color: #222222;
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;
    --link-blue: #0000ff;

    /* Shadows */
    --shadow-inner-1: inset -2px -2px 0 #FFFFFF, inset 2px 2px 0 #808080;
    --shadow-inner-2: inset -2px -2px 0 #FFFFFF, inset 2px 2px 0 #808080, inset -4px -4px 0 #808080, inset 4px 4px 0 #FFFFFF;
    --shadow-inner-3: inset -2px -2px 0 #FFFFFF, inset 2px 2px 0 #000000, inset -4px -4px 0 #DEDEDE, inset 4px 4px 0 #808080;
    --shadow-inner-4: inset -2px -2px 0 #FFFFFF, inset 2px 2px 0 #808080, inset -4px -4px 0 #C3C3C3, inset 4px 4px 0 #000000;
    --shadow-outer-1: inset -2px -2px 0 #000000, inset 2px 2px 0 #FFFFFF, inset -4px -4px 0 #808080, inset 4px 4px 0 #DEDEDE;
    --shadow-outer-2: inset 2px 2px 0 #000000, inset -4px -4px 0 #000000, inset 4px 4px 0 #FFFFFF, inset -6px -6px 0 #808080, inset 6px 6px 0 #DEDEDE;
    --shadow-outer-3: inset -2px -2px 0 #000000, inset 2px 2px 0 #DEDEDE, inset -4px -4px 0 #808080, inset 4px 4px 0 #FFFFFF;
    --shadow-outer-4: inset -2px -2px 0 #000000, inset 2px 2px 0 #FFFFFF, inset -4px -4px 0 #808080;
    --shadow-outer-5: inset -2px 0 0 #000000, inset 2px 0 0 #FFFFFF, inset -4px 0 0 #808080;
    --shadow-outer-6: inset 2px -2px 0 #FFFFFF, inset -2px 0 0 #000000, inset -4px 0 0 #808080;
    --shadow-outer-7: 1.28px 1.28px 0 #FFFFFF;

    /* Borders */
    --border-raised-outer: inset -1px -1px var(--window-frame),
        inset 1px 1px var(--button-highlight);
    --border-raised-inner: inset -2px -2px var(--button-shadow),
        inset 2px 2px var(--button-face);
    --border-sunken-outer: inset -1px -1px var(--button-highlight),
        inset 1px 1px var(--window-frame);
    --border-sunken-inner: inset -2px -2px var(--button-face),
        inset 2px 2px var(--button-shadow);
    --default-button-border-raised-outer: inset -2px -2px var(--window-frame), inset 1px 1px var(--window-frame);
    --default-button-border-raised-inner: inset 2px 2px var(--button-highlight), inset -3px -3px var(--button-shadow), inset 3px 3px var(--button-face);
    --default-button-border-sunken-outer: inset 2px 2px var(--window-frame), inset -1px -1px var(--window-frame);
    --default-button-border-sunken-inner: inset -2px -2px var(--button-highlight), inset 3px 3px var(--button-shadow), inset -3px -3px var(--button-face);

    /* Window borders flip button-face and button-highlight */
    --border-window-outer: inset -1px -1px var(--window-frame),
        inset 1px 1px var(--button-face);
    --border-window-inner: inset -2px -2px var(--button-shadow),
        inset 2px 2px var(--button-highlight);

    /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
    --border-field: inset -1px -1px var(--button-highlight),
        inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
        inset 2px 2px var(--window-frame);
    --border-status-field: inset -1px -1px var(--button-face), inset 1px 1px var(--button-shadow);

    /* Tabs */
    --border-tab: inset -1px 0 var(--window-frame),
        inset 1px 1px var(--button-face),
        inset -2px 0 var(--button-shadow),
        inset 2px 2px var(--button-highlight)
}

body.light-theme {
    background: #008080;
}

/*иконки*/
body.light-theme .title-bar-controls button[aria-label="Minimize"],
body.light-theme .title-bar-controls button[aria-label].minimize {
    background-image: url("icons/light-theme/minimize.svg");
}
body.light-theme .title-bar-controls button[aria-label="Maximize"],
body.light-theme .title-bar-controls button[aria-label].maximize {
    background-image: url("icons/light-theme/maximize.svg");
}
body.light-theme .title-bar-controls button[aria-label="Maximize"]:disabled,
body.light-theme .title-bar-controls button[aria-label].maximize:disabled {
    background-image: url("icons/light-theme/maximize-disabled.svg");
}
body.light-theme .title-bar-controls button[aria-label="Restore"],
body.light-theme .title-bar-controls button[aria-label].restore {
    background-image: url("icons/light-theme/restore.svg");
}
body.light-theme .title-bar-controls button[aria-label="Help"],
body.light-theme .title-bar-controls button[aria-label].help {
    background-image: url("icons/light-theme/help.svg");
}
body.light-theme .title-bar-controls button[aria-label="Close"],
body.light-theme .title-bar-controls button[aria-label].close {
    background-image: url("icons/light-theme/close.svg");
}
body.light-theme fieldset {
    border-image: url("icons/light-theme/groupbox-border.svg") 2;
}
body.light-theme input[type="radio"] + label::before {
    background: url("icons/light-theme/radio-border.svg");
}
body.light-theme input[type="radio"]:active + label::before {
    background: url("icons/light-theme/radio-border-disabled.svg");
}
body.light-theme input[type="radio"]:checked + label::after {
    background: url("icons/light-theme/radio-dot.svg");
}
body.light-theme input[type="radio"][disabled] + label::before {
    background: url("icons/light-theme/radio-border-disabled.svg");
}
body.light-theme input[type="radio"][disabled]:checked + label::after {
    background: url("icons/light-theme/radio-dot-disabled.svg");
}
body.light-theme input[type="checkbox"]:checked + label::after {
    background: url("icons/light-theme/checkmark.svg");
}
body.light-theme input[type="checkbox"][disabled]:checked + label::after {
    background: url("icons/light-theme/checkmark-disabled.svg");
}
body.light-theme select {
    background-image: url("icons/light-theme/button-down.svg");
}
body.light-theme input[type="range"]::-webkit-slider-thumb {
    background: url("icons/light-theme/indicator-horizontal.svg");
}
body.light-theme input[type="range"].has-box-indicator::-webkit-slider-thumb {
    background: url("icons/light-theme/indicator-rectangle-horizontal.svg");
}
body.light-theme input[type="range"]::-moz-range-thumb {
    background: url("icons/light-theme/indicator-horizontal.svg");
}
body.light-theme input[type="range"].has-box-indicator::-moz-range-thumb {
    background: url("icons/light-theme/indicator-rectangle-horizontal.svg");
}
body.light-theme select:active {
    background-image: url("icons/light-theme/button-down-active.svg");
}
body.light-theme ::-webkit-scrollbar-track {
    background-image: url("icons/light-theme/scrollbar-background.svg");
}
body.light-theme ::-webkit-scrollbar-button:vertical:start {
    background-image: url("icons/light-theme/button-up.svg");
}
body.light-theme ::-webkit-scrollbar-button:vertical:end {
    background-image: url("icons/light-theme/button-down.svg");
}
body.light-theme ::-webkit-scrollbar-button:horizontal:start {
    background-image: url("icons/light-theme/button-left.svg");
}
body.light-theme ::-webkit-scrollbar-button:horizontal:end {
    background-image: url("icons/light-theme/button-right.svg");
}
body.light-theme .sunken-panel {
    border-image: url("icons/light-theme/sunken-panel-border.svg") 2;
}