.messenger-container {
  position: relative;
  display: flex;
  height: 100%;
  overflow-x: hidden;
  --menu-toggle-width:50px;
}

.messenger-sidebar {
  left:0;
  top:0;
  bottom:0;
  height:auto;
  position:absolute;
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition:left 0.2s ease;
}

.messenger-sidebar.hidden {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  overflow: hidden !important;
}

.sidebar-collapsed .messenger-sidebar{
  left:-100%;
}

.conversations-list {
  flex: 1;
  overflow: hidden;
}

.messenger-header{
  overflow: auto;
  resize:vertical;
}

.conversation-item {
  cursor: pointer;
}

.conversation-item.active {
  background: #007bff;
}

.messenger-main {
  margin-left:var(--sidebar-width);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: margin-left 0.2s ease;
}

.sidebar-collapsed .messenger-main{
  margin-left:0;
}

.storage-warning {
  color: #856404;
}

.messages-list {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 16px;
  word-break: break-word;
  max-width: 70%;
  width: 70%;
  background:#0000000F;
}
.message:not(.self){
  border-left: 3px solid #007bff;
}
.message.self{
  border-right: 3px solid #007bff;
  margin-left:auto;
}

.file-link {
  color: #007bff;
  text-decoration: none;
  display: inline-block;
}

.typing-indicator {
  color: #007bff;
  font-style: italic;
}

.uploading-indicator {
  color: #856404;
}

.no-conversation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.message-input-area textarea {
  width: 100%;
  resize: vertical;
}

.message-actions {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  gap:8px;
}
.message-actions *{
  height:25px;
  margin:0 !important;
}
button{
  cursor: pointer;
}
.messages-list,.message,.file-link,.typing-indicator,.uploading-indicator{
  padding: 16px;
  gap:16px;
  box-sizing:border-box;
}
.file-item *{
  object-fit:contain !important;
}
.file-item {
  max-width: 100%;
  overflow: hidden;
}
.file-preview {
  max-width: 100%;
  max-height: 400px;
  display: block;
}
.file-audio {
  max-width: 100%;
  width:100%;
  display: block;
}
.message-files {
  max-width: 100%;
  overflow: hidden;
}

.menu-toggle {
  position: relative;
  left: -5px; /* по желанию */
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--menu-toggle-width, 40px);
  min-width: 0;
  z-index: 1000;
}

.crutch-overlay {
  position: absolute;
  bottom: var(--menu-toggle-bottom, 0);
  height: var(--menu-toggle-height, 30px);
  width: 5px;
  left: calc(var(--sidebar-width) - 5px);
  background: var(--surface);
  pointer-events: none; /* чтобы не мешать кликам */
}